<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- ※ 스프링이 제공하는 환경 설정 XML 파일 샘플 -->
	<!--    → 스프링이 생성하고 관리해야 할 객체들에 대한 정보 전달 -->

	<!-- CalculatorImpl 클래스의 객체 생성을 위한 정보 전달 .. 스프링 컨테이너가 하는 일--> 
	<bean id="cal" class="com.test.spr.CalculatorImpl"></bean>
	
	<!-- CalculatorAspect 클래스의 객체 생성을 위한 정보 전달 .. 스프링 컨테이너가 하는 일--> 
	<bean id="aspect" class="com.test.spr.CalculatorAspect"></bean>
	
	<!-- CalculatorBeforeAdvice 클래서의 객체 생성을 위한 정보 전달 -->
	<bean id="before" class="com.test.spr.CalculatorBeforeAdvice"></bean>
	
	<!-- 프록시를 이제 우리가 만드는 것이 아님. 스프링이 만든다. 프록시가 사라진 게 아님 ! ! ! -->
	<!-- 프록시 설계도도 스프링 안에 있음 ! ! ! -->
	
	<!-- check~!!! -->
	<!-- 스프링이 제공하는 가짜 객체(Proxy) 클래스의 객체 생성을 위한 정보 전달 -->
	<!-- 『ProxyFactoryBean』 어딨는지 경로를 알 필요는 없음.. 프록시 설계도 이름이라는 것만 알아두길-->
	<bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<!-- 여기서 프로퍼티는 프록시팩토리빈이 가진 속성.. 즉 변수 -->
		<!-- 변수에 직접 접근은 불가. 접근 불가 때문에 노출이 안돼있으므로 -->
		<!-- 접근 못하는 건 스프링도 마찬가지. 즉 스프링이 getter setter 마련을 해놨을 것. -->
		
		<!-- 주 업무 클래스의 인터페이스 정보 제공 -->
		<!-- 『proxyInterfaces』 -->
		<property name="proxyInterfaces">
			<list>
				<value>com.test.spr.Calculator</value>
				<!-- <value>com.test.spr.Calculator1 </value> 여러개라면 이렇게 추가하면 됨-->
			</list>	<!-- 복수형의 프로퍼티를 넘길 때는 list 엘리먼트를 써야함 -->
		</property>
		<!-- 주 업무 클래스의 객체 정보 제공 -->
		<!-- 『target』 -->
		<property name="target" ref="cal"></property>
		
		<!-- 보조 업무 클래스의 객체 정보 제공 -->
		<!-- → 『interceptorNames』 -->
		<property name="interceptorNames">
			<list>
				<!-- Around Advice -->
				<value>aspect</value> <!-- 가영이.. -->
				
				<!-- Before Advice -->
				<value>before</value>
				<!-- 스프링이 before의 설계도를 들여다보고, MethodBeforeAdvice 인걸 알고 알아서 처리함 -->
			</list>
		</property>
	
	</bean>
</beans>