<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- ※ 스프링이 제공하는 환경 설정 XML 파일 샘플 -->
	<!--    → 스프링이 생성하고 관리해야 할 객체들에 대한 정보 전달 -->

	<!-- 니가 혹시 record1이 필요하면 이 경로에 있으니까 가져다 써~! 
		 그럼 스프링이 알아서 가져다 쓰고 생명주기 관리도 함 -->
		
	
	<!-- RecordImpl1 (Record) 클래스에 대한 객체 정보 전달 과정 -->
	<bean id="record1" class="com.test.spr.RecordImpl1"></bean>
	
	<!-- RecordImpl2 (Record) 클래스에 대한 객체 정보 전달 과정 -->	
	<bean id="record2" class="com.test.spr.RecordImpl2"></bean>
	
	<!-- RecordViewImpl (RecordView) 클래스에 대한 객체 정보 전달 과정 -->	
	<!-- 그런데 얘는 Record 라는 의존객체를 필요로 하는 애 -->
	<bean id="view" class="com.test.spr.RecordViewImpl">
		<!-- RecordImpl1 또는 RecordImpl2 객체 (→ 의존 객체)에 대한 DI 설정 -->
		<!-- 『property』 엘리먼트는 setter 메소드에 대한 정의 -->
		<!-- 『setXxx)_』 메소드인 경우 『<property name="xxx"></property>』 -->
		
		<property name="record"> 	<!-- record 설계도 안에서 record1 프로퍼티가 필요할거야~ 하고 작업지시서 쓴 것 -->
			<!-- 『ref』 엘리먼트에 의해 dI 객체에 대한 참조 지정 -->
			<ref bean="record2"/>
			
		</property>
		
		<!-- 위의 구문은 --> 
		<!-- 『<property name="record" ref="record1"></property>』 -->
		<!-- 로 작성해도 된다. -->
		<!-- 장점 : 배포 후에도 수정 가능하다. xml은.. -->
	</bean>
</beans>